@import '@Project/css/variable.scss';

.sortControls {
    position: sticky;
    top: 149px;
    background-image: linear-gradient(#fff, #fff 75%, rgba(255,255,255,0));
    padding-top: 10px;
    @media screen and (max-width: 910px){
        top:0;
        position: static;
    }
}