@import '@Project/css/variable.scss';

.facet {
    border-bottom: 1px solid $very_light_blue;
    &.isOpen .searchFacetBody {
        height: auto;
    }
}
:global(#pew-app) {
    .hasDefinition {
        button {
            display: none;
        }
    }
    .hasDefinition.isSelected, .hasDefinition:hover {
        button {
            position: absolute;
            top: 9px;
            left: 10px;
            width: 13px;
            height: 13px;
            background:transparent inline('info.svg') no-repeat;
            display: block;
        }   
    }
} 


.searchFacetBody {
    max-height: 178px;
    overflow-y: hidden;
    height: 0;
    background-color: #fff;
    border-left: 2px solid $very_light_blue;
    border-right: 2px solid $very_light_blue;
    position: relative;
    ul {
        &::after{
            content: '';
            height: 10px;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.8));
        }
        list-style: none;
        margin: 0;
        max-height: 178px;
        overflow-y: auto;
        &.hasH3 {
            padding-top: 23px;
        }


    }
}

:global(.rich-text) .facetItem, .facetItem {
    display: block;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    font-size: 0.875rem;
    cursor: pointer;
    line-height: 120%;
    background-color: $very_light_blue;
    position: relative;
    &.hasChildSelected {
        color: $gray;
        cursor: not-allowed;
    }
    //padding-right: 40px;

    &:hover {
        background-color: darken($very_light_blue, 10%);
    }
    &.isSelected {
        font-weight: bold;
        background: svg-load('./checkmark.svg') $very_light_blue no-repeat;
        background-position:  calc(100% - 10px);
    }
}
:global(.rich-text) .topicHeading {
    background-image: linear-gradient($very_light_blue, $very_light_blue 80%, rgba(255,255,255,0));
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 0.5em 0 0.5em 26px;
    position: absolute;
    z-index: 2;
    width: 100%;
    color: $medium_blue;
    letter-spacing: 0.25px;

    &::after {
        content: ':';
    }
}
:global(.rich-text) :global(.has-children) .facetItem, :global(.has-children) .facetItem {
    //border-left: 10px solid $dark_blue;
}
:global(.rich-text) :global(.has-children) .searchFacetBody, :global(.has-children) .searchFacetBody {
    border-left-width: 0;
}
.facetItem[disabled] {
    color: $gray;
    display: none;
}
.searchFacetHeading {
    :global(.has-children) & {
        padding-left: 25px;
        //background-color: $medium_blue;
    //    border-left: 10px solid $dark_blue;
    }
    .isEmpty & {
        background-color: $gray;
        cursor: not-allowed;
        &:hover {
            background-color: $gray;
        }
    }
    background-color: $medium_blue;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    display: block;
    position: relative;
    border: 0;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: $dark_blue;
    }
   
    :global(.icon) {
        width: 15px;
        height: 15px;
        fill: #fff;
        stroke: #fff;
        position: absolute;
        right: 10px;
        transform: rotate(180deg);
        .isOpen & {
            transform: rotate(270deg);
        }
    }
}