@import '@Project/css/variable.scss';

.sidebar {
    min-width: 31.21%;
    margin-right: 33px;
    max-width: 31.21%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: sticky;
    top: 115px;
    max-height: calc(100vh - 115px);
    overflow-y: auto;
    padding-top: 20px;
    
    @media screen and (max-width: 910px){
        width: 100%;
        max-width: 100%;
        margin: 0;
        flex-direction: row;
        padding-top: 20px;
        position: static;
        max-height: 100%;
    }
    @media screen and (max-width: 659px){
        flex-direction: column;
    }

}