@import '@Project/css/variable.scss';

.mapView {
    h2 {
        margin-bottom: 20px;
        font-size: 1em;
        margin-top: 1em;
    }
    margin-bottom: 20px;
    padding-bottom: 20px;
    @media screen and (max-width: 910px){
        order: 1;
        width: 290px;
        margin-left: 20px;
        h2 {
            font-size: 1em;
        }
    }
     @media screen and (max-width: 659px){
        order: 0;
        width: 100%;
        margin-left: 0;
     }
}

