@import 'variable.scss';

.rich-text .pct-overview {
    max-width: 660px;
    margin-left: 0 !important;

}
/* this is for global styles. selectors are not rewritten. module = false in dev config */

#pew-app {
    border-top: 1px solid $gray;
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: 910px){
        flex-direction: column;
    }
    button {
        //resets HT https://gist.github.com/MoOx/9137295
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        overflow: visible;

        background: transparent;

        /* inherit font & color from ancestor */
        color: inherit;
        font: inherit;

        /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
        line-height: normal;

        /* Corrects font smoothing for webkit */
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;

        /* Corrects inability to style clickable `input` types in iOS */
        -webkit-appearance: none;


        /* Remove excess padding and border in Firefox 4+ */
        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

    }
}

.wire {
    border: 1px solid magenta;
}

.flex {
    display: flex;
    p {
        margin-left: 0;
        margin-right: 0;
    }
}

.space-between {
    justify-content: space-between;
}