@import '@Project/css/variable.scss';

.listView {
    margin-top: 20px;
    overflow-y: hidden; 
    position: relative;
}
.listContainer {
    display: flex;
    flex-direction: column;
    &.hide {
        display: none;
    }
    &.isChurning {
        opacity: 0.25;
        &::before {
            content: 'loading ...';
            position: absolute;
            
        }
    }
    
}
.listItem {
    border-bottom: 1px solid $gray;
    padding-top: 10px;
    p {
        @media screen and (max-width: 610px){
            font-size: 14px;
            line-height: 135%;
            margin-bottom: 14px;
        }
    }
}
.itemTitle {
    font-weight: 600;
}
.parens {
    color: $gray;
   // font-size: 0.85em;
}
.itemHeader {
    p {
        color: $gray;
        text-transform: uppercase;;
        font-size: .85em;
        margin: 0;
        font-weight: 800;
        letter-spacing: 1px;
    }
}
.itemHed {
    margin-bottom: 0;
}
:global(.rich-text) {
    .category, .topic {
        width: 275px;
        flex-grow: 1;
    }
}    
:global(.rich-text) .category {
    margin-right: 20px;
}

:global(#pew-app) .relevantButton {
    font-size: 19px;
    color: $medium_blue;
    background: svg-load('./arrow.svg', fill=#296ec3) no-repeat right 5px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    @supports (font-variant-caps: all-small-caps){
        font-variant-caps: all-small-caps;
    }
    @supports not (font-variant-caps: all-small-caps) {
        font-size: 0.75em;
        background-position: right 0;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        font-size: 0.75em;
        background-position: right 0;
    }
}
.relevantText {
    position: relative;    
    background-color: $medium_blue;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: none;
    &.show {
        display: block;
    }
    h3 {
        margin-top: 5px;
    }
    p {
        font-size: 16px;
        font-weight: 600;
    }
}
:global(#pew-app) .closeRelevant {
    background: svg-load('./x-out.svg') no-repeat;
    width: 23px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}