@import '@Project/css/variable.scss';

.listView {
    margin-top: 20px;
 //   max-height: calc(100vh - 220px);
    overflow-y: hidden; 
    position: relative;
 //   min-height: 772px;
}
.listContainer {
    padding-top: 10px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
  //  max-height: calc(100vh - 220px);
 //   min-height: 772px;
    overflow-y: scroll;
   // position: relative;
    &::before {
        content: '';
        height: 20px;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        //background-color: red;
    }
    &::after {
        content: '';
        height: 100px;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        //background-color: red;
    }

}
.listItem {
    border-bottom: 1px solid $gray;
    padding-top: 10px;
}
.itemTitle {
    font-weight: 600;
}
.parens {
    color: $gray;
    font-size: 0.85em;
}
.itemHeader {
    p {
        color: $gray;
        text-transform: uppercase;;
        font-size: .85em;
        margin: 0;
        font-weight: 800;
        letter-spacing: 1px;
    }
}
.itemHed {
    margin-bottom: 0;
}