@import '@Project/css/variable.scss';

.topicFacetsGroup {
    //border-bottom: 5px solid $dark_blue;
    background-color: $dark_blue;
    h2 {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        padding: 10px;
        margin: 0;
        letter-spacing: 1px;
    }
}
.filterView {
   position: relative;
     h2.filterHeading {
        font-size: 1.2em;
        margin-top: 7px;
    }
    @media screen and (max-width: 910px){
        width: 600px;
    }
    @media screen and (max-width: 659px){
        width: 100%;
    }
}

.btnContainer {
    position: absolute;
    top: 7px;
    right: 0;
}
:global(#pew-app) .clearAll {
    cursor: pointer;
    &[disabled] {
        color: $gray;
        cursor: not-allowed;
    }
}
.showing {
    margin-bottom: 0;
}
.topDiv {
    position: sticky;
    top: 100px;
    z-index: 2;
    background-image: linear-gradient(#fff, #fff 80%, rgba(255,255,255,0));
padding-top: 8px;
    padding-bottom: 10px;
     @media screen and (max-width: 910px){
        position: static;
     }
}