@import '@Project/css/variable.scss';

.topicFacetsGroup {
    //border-bottom: 5px solid $dark_blue;
    background-color: $dark_blue;
    h2 {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        padding: 10px;
        margin: 0;
        letter-spacing: 1px;
    }
}
.filterView {
    position: relative;;
     h2.filterHeading {
        font-size: 1.2em;
    }
}

.btnContainer {
    position: absolute;
    top: 3px;
    right: 0;
}
:global(#pew-app) .clearAll {
    cursor: pointer;
    &[disabled] {
        color: $gray;
        cursor: not-allowed;
    }
}
